.img {
  width: 300px;
}

.all-movies {
  display: flex;
  flex-wrap: wrap;
  width: 65vw;
}

.individual-movie {
  padding-left: 15px;
  width: 350px;
}

.main {
  display: flex;
}

.awards {
  position: fixed;
  top: 2em;
}

.showDetails {
  position: sticky;
  top: 0;
}

.displayAll {
  display: flex;
}